@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

:root {
    --paletacolor1: #2f1c6a;
    --paletacolor2: #1D1E20;
    --paletacolor3: #673DE6;
    --paletacolor4: #FFFFFF;
    --paletacolor5: #6d7081;
    --paletacolor6: #e2dbfc;
    --paletacolor7: #f4f5ff;
    --paletacolor8: #1f1346;

    --size48: 48px;
    --size36: 36px;
    --size20: 20px;
    --size18: 18px;
    --size16: 16px;
    --size14: 14px;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/* HEADER SECTION */
header {
    position: sticky;
    top: 0;
    box-shadow: 0 4px 10px #0000001a;
}

.nav__content {
    display: flex;
    background-color: var(--paletacolor4);
}

.nav__menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
}

.hostinger__logo {
    padding: 29px 0px 29px 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.nav__menu__left ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 32px;
}

.nav__menu__left li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__menu__left li a {
    text-decoration: none;
    color: var(--paletacolor2);
    font-size: var(--size16);
    line-height: 24px;
    font-weight: 400;
}

.nav__menu__left li a:hover {
    color: var(--paletacolor5);
}

.nav__menu__left li svg {
    padding-left: 4px;
}

.nav__menu__left li svg:hover {
    color: var(--paletacolor5);
}

.nav__menu__right {
    display: flex;
    justify-content: end;
    gap: 32px;
}

.language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.language img {
    width: 32px;
    height: 20px;
}

.language a {
    text-decoration: none;
    color: var(--paletacolor2);
    font-size: var(--size16);
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
}

.language a:hover {
    color: var(--paletacolor5);
}

.nav__menu__right button {
    background-color: transparent;
    border-radius: 8px;
    color: var(--paletacolor2);
    font-size: var(--size16);
    font-weight: 700;
    line-height: 16px;
    border: 1.6px solid var(--paletacolor2);
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}

.mobile__nav {
    display: none;
}

.mobile__nav svg {
    width: 24px;
    height: 24px;
    color: var(--paletacolor2);
    cursor: pointer;
}

.h__logo {
    padding: 16px 0px 16px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* HERO SECTION */

.hero__section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0 96px;
}

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.content__left {
    width: 440px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.question__svg {
    margin-left: 8px;
} 

.hero__title {
    font-size: var(--size36);
    color: var(--paletacolor1);
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 700;
}

.hero__subtitle {
    font-size: var(--size20);
    font-weight: 700;
    color: var(--paletacolor1);
    line-height: 32px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.hero__subtitle span {
    color: var(--paletacolor3);
}

.hero__subtitle2 {
    font-size: var(--size20);
    font-weight: 700;
    color: var(--paletacolor1);
    line-height: 32px;
    margin-bottom: 16px;
}

.hero__checklist {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 24px;
}

.checklist__item {
    display: flex;
    align-items: center;
    color: var(--paletacolor1);
    font-size: var(--size16);
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2px;
}

.checklist__item svg {
    fill: rgb(0, 176, 144);
    margin-right: 8px;
}

.hero__price {
    display: flex;
    align-items: baseline;
    gap: 3px;
}

.price__text {
    color: var(--paletacolor1);
    font-weight: 400;
    font-size: var(--size20);
    line-height: 24px;
}

.price__number {
    color: var(--paletacolor1);
    font-weight: 700;
    font-size: var(--size48);
    line-height: 56px;
    letter-spacing: 1px;
}

.hero__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
    height: 48px;
    margin-bottom: 10px;
}

.cta__button {
    background-color: var(--paletacolor3);
    color: var(--paletacolor4);
    font-weight: 700;
    font-size: var(--size16);
    line-height: n24px;
    cursor: pointer;
    border: 2px solid var(--paletacolor3);
    border-radius: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 48px;
    padding-right: 48px;
}

.hero__buttons span {
    background-color: var(--paletacolor6);
    color: var(--paletacolor1);
    font-size: var(--size16);
    font-weight: 700;
    line-height: 24px;
    border-radius: 8px;
    min-width: 160px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.content__right {
    width: 845px;
    display: flex;
    align-items: center;
}

.content__right img {
    display: flex;
    width: 100%;
    height: auto;
}

.hero__guarantee {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--paletacolor1);
    line-height: 24px;
}

.hero__guarantee svg {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

/* MIGRATION SECTION */


.migration__section {
    background-color: #1f1346;
    color: var(--paletacolor4);
    padding: 80px 0px;
}

.migration__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.migration__header {
    margin-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

.migration__header h2 {
    text-align: center;
    font-size: var(--size36);
    font-weight: 700;
    line-height: 40px;
    word-spacing: 1px;
    letter-spacing: 1.5px;
}

.migration__header p {
    text-align: center;
    margin-top: 24px;
    font-size: var(--size16);
    line-height: 24px;
    font-weight: 400;
}

.cards__container {
    display: flex;
    gap: 24px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #2f1c6a;
    border-radius: 16px;
    padding: 32px;
    flex: 1;
    gap: 16px;
}

.card__container__icon {
    display: flex;
    justify-content: left;
    align-items: center;
}

.card__icon { 
    background-color: #7253ee;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 8px 8px;
}

.card__icon svg {
    fill: #ffffff;
}

.card__title {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.card__description {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

.buttons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    height: 48px;
}

.migration__button {
    padding: 12px 48px;
    border-radius: 8px;
    background-color: #7253ee;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}

.migration__button:hover {
    background-color: #673de6;
}

/* FOOTER SECTION */

footer {
    background-color: var(--paletacolor7);
    padding-top: 56px;
}

.footer__content {
    max-width: 1208px;
    padding: 0px 40px 0px 40px;
    margin-left: auto;
    margin-right: auto;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
}

.footer__top__social {
    display: flex;
    justify-content: flex-end;
    flex-basis: 85%;
    gap: 16px;
}

.social__icon {
    width: 32px;
    height: 32px;
}

.footer__top__paymentmethods {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__top__paymentmethods span {
    font-weight: 700;
    color: var(--paletacolor3);
    font-size: var(--size14);
}

.paymentmethods__img {
    width: 60px;
    height: 40px;
    border: 1px solid var(--paletacolor6);
    border-radius: 6px;
    overflow: hidden;
}

.paymentmethods__img img {
    width: 100%;
}

.footer__legal {
    display: flex;
    justify-content: flex-end;
    flex-basis: 52%;
    gap: 8px;
}

.footer__legal a {
    text-decoration: none;
    color: var(--paletacolor8);
    font-size: var(--size14);
}

.footer__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid var(--paletacolor6);
}

.footer__bottom span {
    font-size: var(--size14);
    color: var(--paletacolor8);
    line-height: 24px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1367px) {

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin: auto;
}

.content__right {
    width: 616px;
    height: auto;
}

}

@media screen and (max-width: 1189px) {

    .footer__top__social {
        flex-basis: 84%;
    }

    .footer__legal {
        flex-basis: 49%;
    }

}

@media screen and (max-width: 1140px) {
    header {
        box-shadow: none;
    }

.nav__content {
    display: none;
}

.mobile__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    width: 100vw;
    height: 62px;
    background-color: var(--paletacolor4);
    position: sticky;
    top: 0;
    box-shadow: 0 4px 10px #0000001a;
}

.hero__content {
    padding: 0;
}

.migration__header {
    margin-left: 0;
    margin-right: 0;
    }

.cards__container {
    margin-left: 0;
    margin-right: 0;
}

.footer__top__social {
    flex-basis: 82%;
}

.footer__legal {
    flex-basis: 45%;
}

}

@media screen and (max-width: 1049px) {

    .footer__top__social {
        flex-basis: 82%;
    }

    .footer__top__paymentmethods {
        flex-basis: 15%;
    }

    .footer__legal {
        flex-basis: 45%;
    }

}

@media screen and (max-width: 1024px) {
    .hero__content {
        flex-direction: column;
    }

    .hero__title {
        font-size: 28px;
    }

    .hero__subtitle {
        font-size: 18px;
    }

    .content__left {
    width: 688px;
    }

    .content__right {
        width: 688px;
        height: auto;
    }

    .migration__header {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .migration__header h2 {
        font-size: 28px;
        letter-spacing: 0;
    }

    .cards__container {
        max-width: 768px;
        flex-direction: column;
        column-gap: 8px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__top__social {
        flex-basis: 75%;
    }

    .footer__legal {
    flex-basis: 100%;
    justify-content: start;
    }

}

@media screen and (max-width: 768px) {

    .hero__section {
    padding: 14px 0px 36px;
    }

    .content__left {
    width: 508px;
    margin-bottom: 24px;
    }

    .hero__content {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    .hero__title {
        font-size: 24px;
        letter-spacing: 0;
    }

    .price__number {
        font-size: 36px;
    }

    .hero__subtitle2 {
        font-size: 18px;
    }

    .hero__checklist {
        margin-bottom: 16px;
    }

    .content__right {
        width: 508px;
        height: auto;
    }

    .hero__buttons {
    flex-direction: column-reverse;
    height: 100%;
}

    .cta__button {
        width: 100%;
    }

    .hero__buttons span {
        width: 100%;
    }

    .migration__header {
        width: 540px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .migration__header h2 {
        font-size: 24px;
        letter-spacing: 0;
    }

    .cards__container {
        width: 540px;
        padding-left: 16px;
        padding-right: 16px;
        margin: auto;
    }

    .footer__content {
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
    }

    .footer__top {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
    gap: 16px;
}

    .footer__legal {
gap: 16px;
}

    .footer__top__paymentmethods {
    flex-wrap: wrap;
    }
}

@media screen and (max-width: 540px) {

    .hero__content {
    width: 90vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
    }

    .content__left {
    width: 90vw;
    margin-bottom: 24px;
    }

    .content__right {
    width: 90vw;
    height: auto;
    }

    .migration__header {
    width: 90vw;
    padding-left: 16px;
    padding-right: 16px;
    }

    .cards__container {
        width: 90vw;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0;
    }

    .footer__top__paymentmethods {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    }

    .footer__legal {
        flex-wrap: wrap;
    gap: 16px;
    }

}